  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; /* Отступы для равномерного распределения */
    background-color: white;
  }
  
  .logo {
    font-size: 36px;
    font-family: 'Inknut Antiqua';
    font-weight: bold;
    color: #FF005E; /* Розовый текст логотипа */
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .starlogo {
    color: #FFEE00; /* Жёлтая звезда */
    text-shadow: 0 0 1px #FF005E, 0 0 2px #FF005E; /* Розовая обводка звезды */
    margin-left: 5px;
    margin-right: 5px; /* Небольшое расстояние между текстом и звездой */
  }
  
  nav {
    display: flex;
    gap: 40px; /* Расстояние между ссылками */
  }
  
  nav a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; /* Убираем подчеркивание */
    color: #333333; /* Чёрный текст для всех ссылок по умолчанию */
  }
  
  nav a.active {
    color: #333333 !important; /* Чёрный текст для активной ссылки */
  }
  
  nav a.login {
    color: #FF005E; /* Розовый цвет для кнопки "ВОЙТИ" */
  }
  
  nav a:hover {
    color: #FF005E; /* Розовый при наведении */
  }
  
  
  
  .main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 16px;
    
  }
  
  .text-section {
    flex: 1;
    max-width: 50%;
    padding-left: 16px;
  }
  
  .text-section h1 {
  
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background: #FF005E;
    color: white;
    padding: 12px 20px;
    border-color: #FF005E;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: border-radius 0.3s, background-color 0.3s, transform 0.2s;
  }

  .cta-button:hover {
    border-radius: 2px;
    border-color: #FF005E;
    background: white;
    color: #FF005E;
    transform: scale(1.05);
  }
  
  .content-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
  }



  