  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .app {
    flex: 1;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .logo {
    font-size: 40px;
    font-weight: bold;
    color: #FF005E;
  }
  
  .star {
    color: #FFEE00;
    border: #FF005E;
  }
  
  .active {
    margin-right: 20px;
    font-size: 18px;
    color: #333333;
  }
  
  .login {
    color: #FF005E;
  }
  
  /* Main Content */
  .main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 16px;
    
  }
  
  .text-section {
    flex: 1;
    max-width: 50%;
  }
  
  .text-section h1 {
  
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background-color: #FF005E;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }

  .cta-button :hover{
    background-color: white;
    color: #FF005E;
    border: #FF005E;
    border-radius: 2px;

  }
  
  /* Image Section */
  .content-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
  }
  