  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; 
    background-color: white;
  }
  
  .logo {
    font-size: 36px;
    font-family: 'Inknut Antiqua';
    font-weight: bold;
    color: #FF005E;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .starlogo {
    color: #FFEE00;
    text-shadow: 0 0 1px #FF005E, 0 0 2px #FF005E;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  nav {
    display: flex;
    gap: 40px;
  }
  
  nav a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
  }
  
  nav a.active {
    color: #333333 !important;
  }
  
  nav a.login {
    color: #FF005E;
  }
  
  nav a:hover {
    color: #FF005E;
  }
  
  
  
  .main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 16px;
    
  }
  
  .text-section {
    flex: 1;
    max-width: 50%;
    padding-left: 16px;
  }
  
  .text-section h1 {
  
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background: #FF005E;
    color: white;
    padding: 12px 20px;
    border-color: #FF005E;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: border-radius 0.3s, background-color 0.3s, transform 0.2s;
  }

  .cta-button:hover {
    border-radius: 2px;
    border-color: #FF005E;
    background: white;
    color: #FF005E;
    transform: scale(1.05);
  }
  
  .content-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
  }

  @media (max-width: 992px) {
    .main-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .text-section {
      max-width: 90%;
      text-align: center;
      padding: 0 10px;
    }
  
    .content-image {
      margin-top: 20px;
    }
  
    .image {
      max-width: 90%; 
    }
  }


  