body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

 

  .logo {
    font-size: 36px;
    font-weight: bold;
    color: #FF005E;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .starlogo {
    color: #FFEE00;
    text-shadow: 0 0 1px #FF005E, 0 0 2px #FF005E;
    margin-left: 5px; 
  }
  
  nav {
    display: flex;
    gap: 40px;
  }
  
  nav a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; 
    color: #333333;
  }
  
  nav a.active {
    color: #333333 !important;
  }
  
  nav a.login {
    color: #FF005E;
  }
  
  nav a:hover {
    color: #FF005E;
  }
  
  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .login-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .login-form label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #FF005E;
    border-radius: 5px;
  }
  
  .login-button {
    background: #FF005E;
    color: white;
    padding: 12px 20px;
    border-color: #FF005E !important;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: border-radius 0.3s, background-color 0.3s, transform 0.2s;
  }

  .login-button:hover {
    border-radius: 2px;
    background: white;
    color: #FF005E;
    transform: scale(1.05);
  }

  div {
  max-width: none;
  width: auto; 
}