
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #FF005E;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.starlogo {
  color: #FFEE00;
  text-shadow: 0 0 2px #FF005E, 0 0 4px #FF005E;
  margin-left: 5px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

nav a.active {
  color: #333;
}

nav a.login {
  color: #FF005E;
}

nav a:hover {
  color: #FF005E;
}

/* Content */
.reviews-content {
  text-align: center;
  padding: 40px 20px;
}

.reviews-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.reviews-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555;
}

/* Form */
.reviews-form {
  max-width: 600px;
  margin: 0 auto;
}

.star-rating {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.star {
  font-size: 50px;
  cursor: pointer;
  color: lightgray;
  transition: color 0.3s, transform 0.2s;
}

.star.selected {
  color: #FFEE00;
  text-shadow: 0 0 2px #FF005E, 0 0 4px #FF005E;
  transform: scale(1.2);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 2px solid #FF005E;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(245, 0, 87, 0.3);
}

.submit-button {
  background: #FF005E;
  color: white;
  padding: 12px 20px;
  border-color: #FF005E;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: border-radius 0.3s, background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
  border-radius: 2px;
  border-color: #FF005E;
  background: white;
  color: #FF005E;
  transform: scale(1.05);
}
